html {
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: aliceblue;

}

html, body {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 10%;
}

.sketcher {
    border: 10px red solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 10%;
    background-color: #1F2937;
}

.footer_text_container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 5px;

}

p {
    margin: 0;
}

a {
    color: aliceblue;
}
